/* > PC low resolution */

@media (min-width: 1025px) and (max-width:1299px) {
    .hide-on-pc-low {
        display: none;
    }
}


/* Mobile & tablet */

@media (max-width:1024px) {
    .hide-on-mobile-tablet {
        display: none;
    }
    .header__bar {
        background-color: var(--text-color-bold);
        padding: 20px 50px;
    }
    .header__banner {
        padding: 100px 50px 50px;
    }
    .navbar__menu {
        text-align: center;
        margin-top: 12px;
    }
    .navbar__link {
        justify-content: center;
    }
    .header__search {
        padding-left: 25px;
        padding-right: 25px;
    }
    .search-tool,
    .search-tool__select {
        width: 100%;
    }
    .search-activity {
        flex-direction: column;
    }
    .search-activity,
    .search-activity__item {
        width: 100%;
    }
    .search-activity__item:not(:first-child) {
        margin: 30px 0 0 0;
    }
    .ads__btn {
        margin-top: 20px;
    }
    .beaches__slider-content {
        margin-top: 60px;
    }
    .beaches__countdown {
        width: 100%;
        left: 0;
    }
    .tour__section {
        margin-top: 100px;
    }
    .tour__section-item {
        margin-top: 30px;
    }
    .package__item {
        margin-bottom: 30px;
    }
    .footer__top {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer__contact {
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
    }
    .footer__contact-input {
        width: 70%;
    }
    .footer__contact-submit {
        width: 27%;
    }
    .footer__source {
        flex-direction: column;
        text-align: center;
    }
    .sidebar__content-wrap {
        display: none;
    }
    .sidebar__menu-wrap {
        display: block;
    }
    .contact__info-wrap .row .col:not(:last-child)>.contact__info .contact__info-item:last-child {
        border-bottom: var(--border-color) solid 1px;
    }
    .introduce__item,
    .introduce__desc-large {
        text-align: center;
    }
    .introduce__desc-large {
        padding: 0;
    }
    .staff__item {
        margin-bottom: 20px;
    }
}


/* Tablet */

@media (min-width: 740px) and (max-width: 1023px) {
    .item__row_reverse {
        flex-direction: unset;
    }
    .item--reverse-on-tablet {
        flex-direction: row-reverse;
    }
    .introduce__ytb iframe {
        width: 650px;
        height: 450px;
    }
}


/* Mobile */

@media (max-width: 739px) {
    .header__search {
        padding-left: 57px;
        padding-right: 57px;
    }
    .search-heading__title,
    .ads__heading,
    .ads__heading-large {
        line-height: 50px;
    }
    .ads__section-item-heading {
        font-size: 3.3rem;
    }
    .section__heading {
        line-height: 40px;
    }
    .search-heading__sub-title {
        line-height: 2rem;
    }
    .destination__section,
    .beaches__section,
    .tour__section,
    .package__content,
    .footer__section,
    .products__section,
    .news__content,
    .contact__content,
    .introduce__section,
    .staff__content,
    .place__section {
        padding: 0 50px;
    }
    .ads__section-content {
        padding: 50px;
    }
    .ads__heading,
    .ads__heading-large {
        margin: 0;
    }
    .ads__btn {
        margin-top: 40px;
    }
    .slider-list__item {
        height: 220px;
    }
    .countdown__item-wrap {
        padding: 15px 0;
    }
    .countdown__item-qty {
        font-size: 1.8rem;
    }
    .countdown__item-unit {
        font-size: 1rem;
        margin-top: 0;
    }
    .countdown__item-wrap:not(:last-child)::after {
        font-size: 30px;
        right: -8px;
    }
    .tour__section {
        margin-top: 50px;
    }
    .package__item-price {
        flex-direction: column;
        align-items: flex-start;
    }
    .price__package {
        font-size: 2rem;
    }
    .item-desc__btn,
    .news__item-btn,
    .form__btn {
        width: 100%;
        text-align: center;
    }
    .price-before-sale {
        font-size: 1.6rem;
    }
    .sidebar__wrap {
        width: 75%;
    }
    .sidebar__wrap::-webkit-scrollbar {
        width: 5px;
    }
    .footer__section {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .footer__content {
        margin-bottom: 20px;
    }
    .footer__contact {
        flex-direction: column;
    }
    .footer__contact-input,
    .footer__contact-submit {
        width: 100%;
    }
    .footer__contact-submit {
        margin-top: 15px;
    }
    .news__item {
        flex-direction: column;
    }
    .new__item-img {
        width: 100%;
    }
    .new__item-img img {
        display: block;
        height: 300px;
    }
    .contact__phone {
        text-align: center;
    }
    .contact__phone-detail {
        font-size: 3rem;
    }
    .introduce__video {
        margin-top: 2rem;
    }
    .video__play-img {
        width: 50px;
    }
    .staff__banner {
        padding-left: 40px;
        padding-right: 40px;
    }
    .introduce__ytb iframe {
        width: 320px;
        height: 200px;
    }
}


/* Mobile low resolution */

@media (max-width: 375px) {
    .search-tool__select {
        font-size: 1.3rem;
    }
    .search-tool__link-icon {
        font-size: 1.4rem;
    }
}